@media screen and (max-width: 500px) {
  @media screen and (max-width: 500px){
    .judul-film-banner{
        top: 300px;
    }

    .middle img{
        position: absolute;
        top: 0;
    }
}
}
