/* KOMPONEN LAIN-LAIN */
/* tombol */
.tombol {
  margin-right: 5px;
}
.button-navbar {
  background-color: #0aaee4;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button {
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background: rgba(8, 103, 180, 0.6);
}

/* NAVBAR */
.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(13, 14, 13, 0.6);
  width: 100%;
  z-index: 999;
}

/* nav.navbar .container{
  border: 1px solid rgb(255, 251, 4);
  overflow: visible;
} */
.logo {
  margin-left: -100px;
  margin-right: 100px;
}

.menu-toggle-jpg{
  display: none;
}@media screen and (max-width: 900px){

  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgba(13, 14, 13, 0.6);
    width: 100%;
    z-index: 999;
  }
  
  .navbar-nav{
    text-align: center;
  }
  
  
  .menu-toggle-jpg{
    display: block;
    position: relative;
    right: 20px;
    height: 30px;
    width: 30px;
  }
  .logo {
    padding-left: 70px;
    margin-right: 0;
    width: 70%;
  }
  
  .nav-link:hover::after {
    content: "";
    border-bottom: 3px solid blue;
    display: block;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
  
  }

.nav-link:hover::after {
  content: "";
  border-bottom: 3px solid blue;
  display: block;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}
/* END NAVBAR */

/* DAFTAR MOVIE */
.container-kategori {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.container-kategori a{
  text-decoration: none;
}

.container-daftar-movie{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.container-kotak-film{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.judul-kategori {
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-shadow: 3px 2px 1px rgba(187, 186, 186, 0.74);
}

.lihat-semuanya {
  margin-left: 100px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  text-shadow: 3px 2px 1px rgba(187, 186, 186, 0.74);
  
}

* {
  box-sizing: border-box;
}

.kotak-film {
  width: 210px;
  height: 70vh;
  padding: 0 10px;
  margin-right: 5px;
}

.daftar-film {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* margin: 0 -5px; */
  background-color: white;;
  /* padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px; */
}

.daftar-film:after {
  content: "";
  display: table;
  clear: both;
}

.judul-film {
  text-overflow: ellipsis;
  font-weight: 800;
  font-size: 20px;
}

/* responsive kolom*/
/* @media screen and (max-width: 600px) {
  .kotak-film {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */

/* kartu */
.kartu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* cover */
.cover {
  max-width: 100%;
}

/* END DAFTAR MOVIE */

/* FOOTER */
footer {
  padding-top: 150px;
  background-color: white;
}

* {
  box-sizing: border-box;
}

.footer{
  display: flex;
  flex-direction: row;
  position: relative;
}

.container-footer {
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  height: 300px;
  text-align: center;
}

.container-footer-last{
  width: 33.33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.footer:after {
  content: "";
  display: table;
  clear: both;
}

/* @media screen and (max-width: 600px) {
  .container-footer {
    width: 100%;
  }
} */

.footer-text {
  color: white;
  padding-left: 20px;
}

.logo-footer .Copyright {
  color: white;
}

.sosial-footer {
  width: 30px;
  height: 30px;
}
/* END FOOTER */

/* SLIDESHOW */
* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
/* END SLIDESHOW */
