/* untuk tables */
@media(max-width: 1000px) {
    .movie-item {
        width: 50%;
        margin-bottom: 50px;
    }
}


/* untuk smartphone */
@media(max-width:670px) {
    .movie-item {
        width: 100%;
    }
}